.App {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

svg.patternlock g.lock-lines line {
  stroke-width: 1.5;
  stroke: black;
  opacity: 0.5;
}

svg.patternlock g.lock-dots circle {
  stroke: transparent;
  fill: black;
  stroke-width: 13.5;
}

svg.patternlock g.lock-actives circle {
  fill: black;
  opacity: 0.2;
  animation: lock-activate-dot 0.15s 0s ease 1;
  transform-origin: center;
}

svg.patternlock g.lock-lines line {
  stroke-width: 1.5;
  stroke-linecap: round;
}

svg.patternlock.success g.lock-actives circle {
  fill: green;
}

svg.patternlock.error g.lock-actives circle {
  fill: red;
}

@keyframes lock-activate-dot {
  0% {
    transform: scale(0);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
